name: Build and analyze with SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Authenticate to SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          token: ${{ secrets.SONAR_TOKEN }}

      - name: Restore dependencies
        run: dotnet restore BadCleanArch.sln

      - name: Build
        run: dotnet build BadCleanArch.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test BadCleanArch.sln --no-build --verbosity normal

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=Saenz10200_ParcialCleanArch
            -Dsonar.organization=saenz10200
